@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@tailwind base;
/* *{
 @apply font-main
} */
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FeastOfFlesh";
    src: url("../public/font/FEASFBI_.TTF");
    src: url("../public//font//FEASFBRG.TTF") format("sans-serif"),
    /* url("../../fonts/TT\ Lakes\ Black.woff") format("woff"),
     url("../../fonts/TT\ Lakes\ Black.ttf") format("truetype"); */
    }