@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple");
/* 
@font-face {
  font-family: "FeastOfFlesh";
  src: url(./FEASFBI_.TTF) format("truetype");
  src: url(./FEASFBRG.TTF) format("truetype");
} */



@tailwind base;
/* *{
 @apply font-main
} */
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "FeastOfFlesh";
  src: url("..//font/FEASFBI_.TTF");
  src: url("../public//font//FEASFBRG.TTF") format("sans-serif");
} */
