@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@tailwind base;
/* *{
 @apply font-main
} */
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "FeastOfFlesh";
  src: url("..//font/FEASFBI_.TTF");
  src: url("../public//font//FEASFBRG.TTF") format("sans-serif");
} */
@font-face {
  font-family: "FeastOfFlesh";
  src: url(../pages/assets/FEASFBI_.TTF)  format('truetype');
  src: url(../pages/assets/FEASFBRG.TTF) format('truetype');
}
